In [104]:
import numpy as np
import re
import pandas as pd
import nltk
from nltk.corpus import wordnet
import string
from sklearn.model_selection import KFold
from keras.datasets import imdb
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import LSTM, Dense, Embedding, Dropout
from sklearn.model_selection import train_test_split, GridSearchCV

In [52]:
from flair.embeddings import WordEmbeddings, DocumentPoolEmbeddings
from flair.data import Sentence

# initialize the word embeddings
glove_embedding = WordEmbeddings('glove')

# initialize the document embeddings, mode = mean
doc_embed = DocumentPoolEmbeddings([glove_embedding])

In [53]:
def embedding(sentence):
    sentence = Sentence(sentence)
    doc_embed.embed(sentence)
    np_tens = sentence.embedding.numpy()
    
    return np_tens

In [54]:
df = pd.read_csv(r"olid-training-v1.0.tsv", sep="\t")

In [55]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home youâ€™re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [56]:
df['tweet'] = df['tweet'].str.replace('@USER','')

In [57]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [58]:
# Removing hyperlinks
def hyperlink(tweet):
    return re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

In [59]:
df['tweet'] = df['tweet'].apply(hyperlink)

In [60]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [61]:
# Removing retweets
def retweets(tweet):
    return re.sub(r'^RT[\s]+', '', tweet)

In [62]:
df['tweet'] = df['tweet'].apply(retweets)

In [63]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [64]:
def split_hashtag(tweet):
    return re.sub(r'#', '', tweet)

In [65]:
df["tweet"] = df["tweet"].apply(split_hashtag)

In [66]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump2020 ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice HumanRights and Fre...,NOT,NaN,NaN

In [67]:
# Splitting joined words
def join_words(tweet):
    return re.sub(r"([a-z\.!?])([A-Z])", r"\1 \2", tweet)

In [68]:
df['tweet'] = df['tweet'].apply(join_words)

In [69]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump2020 ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should've Taken"" this piece of shit t...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice Human Rights and Fr...,NOT,NaN,NaN

In [70]:
df['tweet'] = df['tweet'].replace('\d+', '', regex=True)

In [71]:
df['tweet'] = df['tweet'].str.replace('[{}]'.format(string.punctuation), '')

In [72]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to ...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move i...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

In [73]:
df['tweet'] = df['tweet'].str.strip()

In [74]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what the...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to a...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and t...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

In [75]:
df['tweet'] = df['tweet'].str.lower()

In [76]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,she should ask a few native americans what the...,OFF,UNT,NaN
1,90194,go home youâ€™re drunk maga trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š url,OFF,TIN,IND
2,16820,amazon is investigating chinese employees who ...,NOT,NaN,NaN
3,62688,someone shouldve taken this piece of shit to a...,OFF,UNT,NaN
4,43605,obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,sometimes i get strong vibes from people and t...,OFF,TIN,IND
13236,67210,benidorm âœ… creamfields âœ… maga âœ… not too sh...,NOT,NaN,NaN
13237,82921,and why report this garbage we dont give a crap,OFF,TIN,OTH
13238,27429,pussy,OFF,UNT,NaN
13239,46552,spanishrevenge vs justice human rights and fre...,NOT,NaN,NaN

In [77]:
from nltk.corpus import stopwords  
from nltk.tokenize import TweetTokenizer 
tokenizer = TweetTokenizer(preserve_case=True, strip_handles=True, reduce_len=True)

In [78]:
def token(tweet):
    return tokenizer.tokenize(tweet)

In [79]:
df['tweet'] = df['tweet'].apply(token)

In [80]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[she, should, ask, a, few, native, americans, ...",OFF,UNT,NaN
1,90194,"[go, home, you, â€™, re, drunk, maga, trump, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, is, investigating, chinese, employees...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, this, piece, of, sh...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, to, m...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, i, get, strong, vibes, from, peopl...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, not, to...",NOT,NaN,NaN
13237,82921,"[and, why, report, this, garbage, we, dont, gi...",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, a...",NOT,NaN,NaN

In [81]:
stop_words = set(stopwords.words('english'))

In [82]:
def remove(tweet):
    return [i for i in tweet if i not in stop_words]

In [83]:
df['tweet'] = df['tweet'].apply(remove)

In [84]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, americans, take]",OFF,UNT,NaN
1,90194,"[go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employees, se...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, move,...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibes, people, man, â€™...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, f...",NOT,NaN,NaN

In [85]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [86]:
def get_wordnet_POS(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(word, wordnet.NOUN)

In [87]:
def lemm(tweet):
    return [lemmatizer.lemmatize(i, get_wordnet_POS(i)) for i in tweet]

In [88]:
df['tweet'] = df['tweet'].apply(lemm)

In [89]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, american, take]",OFF,UNT,NaN
1,90194,"[go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employee, sel...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberal, amp, illegals, move, ...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibe, people, man, â€™,...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, v, justice, human, right, fre...",NOT,NaN,NaN

In [90]:
df = df.drop(['subtask_b', 'subtask_c', 'id'], axis=1)

In [91]:
df

                                                   tweet subtask_a
0                          [ask, native, american, take]       OFF
1      [go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...       OFF
2      [amazon, investigating, chinese, employee, sel...       NOT
3      [someone, shouldve, taken, piece, shit, volcan...       OFF
4      [obama, wanted, liberal, amp, illegals, move, ...       NOT
...                                                  ...       ...
13235  [sometimes, get, strong, vibe, people, man, â€™,...       OFF
13236  [benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...       NOT
13237                [report, garbage, dont, give, crap]       OFF
13238                                            [pussy]       OFF
13239  [spanishrevenge, v, justice, human, right, fre...       NOT

[13240 rows x 2 columns]

In [92]:
df = df.rename(columns={'subtask_a': 'Offensive'})

In [93]:
df

                                                   tweet Offensive
0                          [ask, native, american, take]       OFF
1      [go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...       OFF
2      [amazon, investigating, chinese, employee, sel...       NOT
3      [someone, shouldve, taken, piece, shit, volcan...       OFF
4      [obama, wanted, liberal, amp, illegals, move, ...       NOT
...                                                  ...       ...
13235  [sometimes, get, strong, vibe, people, man, â€™,...       OFF
13236  [benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...       NOT
13237                [report, garbage, dont, give, crap]       OFF
13238                                            [pussy]       OFF
13239  [spanishrevenge, v, justice, human, right, fre...       NOT

[13240 rows x 2 columns]

In [94]:
def off(cls):
    if cls =='OFF':
        return 1
    elif cls == 'NOT':
        return 0

In [95]:
df["Offensive"] = df["Offensive"].apply(off)

In [96]:
df

                                                   tweet  Offensive
0                          [ask, native, american, take]          1
1      [go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...          1
2      [amazon, investigating, chinese, employee, sel...          0
3      [someone, shouldve, taken, piece, shit, volcan...          1
4      [obama, wanted, liberal, amp, illegals, move, ...          0
...                                                  ...        ...
13235  [sometimes, get, strong, vibe, people, man, â€™,...          1
13236  [benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...          0
13237                [report, garbage, dont, give, crap]          1
13238                                            [pussy]          1
13239  [spanishrevenge, v, justice, human, right, fre...          0

[13240 rows x 2 columns]

In [97]:
rows_to_drop = []

for i in range(len(df)):
    try:
        df.iloc[i]['tweet'] = embedding(df.iloc[i]['tweet'])
    except:
        rows_to_drop.append(i)

print(rows_to_drop)

C:\ProgramData\Anaconda3\envs\opencv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

[847, 995, 1549, 2709, 2734, 2927, 3315, 3418, 3840, 4241, 4422, 5154, 5175, 6425, 7310, 7381, 7634, 7816, 8008, 8177, 8304, 8652, 8653, 8871, 9567, 9713, 9833, 9925, 10095, 10103, 10373, 10685, 10710, 10718, 10726, 11010, 11268, 11609, 11618, 11635, 11667, 11679, 12615, 12872]

In [98]:
df.drop(rows_to_drop, inplace=True)

In [99]:
df

                                                   tweet  Offensive
0                          [ask, native, american, take]          1
1      [go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...          1
2      [amazon, investigating, chinese, employee, sel...          0
3      [someone, shouldve, taken, piece, shit, volcan...          1
4      [obama, wanted, liberal, amp, illegals, move, ...          0
...                                                  ...        ...
13235  [sometimes, get, strong, vibe, people, man, â€™,...          1
13236  [benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...          0
13237                [report, garbage, dont, give, crap]          1
13238                                            [pussy]          1
13239  [spanishrevenge, v, justice, human, right, fre...          0

[13196 rows x 2 columns]

In [100]:
df["tweet"] = df["tweet"].apply(embedding)

In [101]:
df

                                                   tweet  Offensive
0      [-0.004631497, 0.3850355, 0.53388, -0.081911, ...          1
1      [-0.080776, -0.017271908, 0.054541837, -0.1794...          1
2      [-0.021361161, 0.040423907, 0.25865784, 0.0833...          0
3      [-0.12938271, 0.19844142, 0.19138171, -0.15423...          1
4      [-0.09563908, 0.20793724, 0.2729194, -0.527166...          0
...                                                  ...        ...
13235  [0.10650693, 0.2699034, 0.31675598, -0.4101284...          1
13236  [0.024536252, 0.04648175, -0.093685, 0.0050674...          0
13237  [-0.28171122, 0.235564, 0.49441805, -0.704586,...          1
13238  [0.25839, -0.13339, 0.27551, -0.82961, -0.483,...          1
13239  [0.07563726, 0.11484129, 0.2056137, 0.03375506...          0

[13196 rows x 2 columns]

In [102]:
type(df.iloc[0]['tweet'])

numpy.ndarray

In [131]:
X_train, X_test, y_train, y_test = train_test_split(df['tweet'], df['Offensive'], stratify=df['Offensive'], random_state=0)

In [132]:
X_train

6740     [-0.033784185, 0.18223864, 0.31397453, -0.1651...
9789     [-0.06403985, 0.1766307, 0.19665577, -0.334790...
539      [0.35608, 0.19476, 0.60341, -0.61308503, -0.49...
195      [-0.081377335, 0.34111, 0.150256, -0.228305, 0...
10577    [-0.08837729, 0.14820686, 0.2811603, -0.311066...
                               ...
4303     [0.19914995, 0.2613253, 0.3200894, -0.19457823...
5494     [-0.081934646, 0.30932894, 0.06334071, -0.1156...
5284     [-0.078757085, 0.21455105, 0.34014702, -0.3832...
3192     [-0.17399804, 0.24002126, 0.33891255, -0.11598...
11847    [0.10451001, -0.051071294, 0.369976, -0.416627...
Name: tweet, Length: 9897, dtype: object

In [133]:
y_train

6740     0
9789     1
539      0
195      0
10577    0
        ..
4303     0
5494     0
5284     1
3192     0
11847    0
Name: Offensive, Length: 9897, dtype: int64

In [108]:
maxim = 0
for i in range(len(df)):
    if len(df.iloc[i]['tweet']) > maxim:
        maxim = len(df.iloc[i]['tweet'])

maxim

100

In [109]:
def create_model():
    model = Sequential()
    model.add(Embedding(8000, 32, input_length=100))
    model.add(LSTM(20))
    model.add(Dropout(0.5))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
    return model

In [137]:
X_train

6740     [-0.033784185, 0.18223864, 0.31397453, -0.1651...
9789     [-0.06403985, 0.1766307, 0.19665577, -0.334790...
539      [0.35608, 0.19476, 0.60341, -0.61308503, -0.49...
195      [-0.081377335, 0.34111, 0.150256, -0.228305, 0...
10577    [-0.08837729, 0.14820686, 0.2811603, -0.311066...
                               ...
4303     [0.19914995, 0.2613253, 0.3200894, -0.19457823...
5494     [-0.081934646, 0.30932894, 0.06334071, -0.1156...
5284     [-0.078757085, 0.21455105, 0.34014702, -0.3832...
3192     [-0.17399804, 0.24002126, 0.33891255, -0.11598...
11847    [0.10451001, -0.051071294, 0.369976, -0.416627...
Name: tweet, Length: 9897, dtype: object

100

numpy.ndarray