In [2]:
import pandas as pd
import nltk
import string
import re
from nltk.corpus import wordnet

## Importing

In [2]:
df = pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\OLIDv1.0\olid-training-v1.0.tsv", sep="\t")

In [3]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home youâ€™re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

## Twitter Pre-Processing

In [4]:
df['tweet'] = df['tweet'].str.replace('@USER','')

In [5]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [20]:
# Removing hyperlinks
def hyperlink(tweet):
    return re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

In [7]:
df['tweet'] = df['tweet'].apply(hyperlink)

In [8]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [24]:
# Removing retweets
def retweets(tweet):
    return re.sub(r'^RT[\s]+', '', tweet)

In [10]:
df['tweet'] = df['tweet'].apply(retweets)

In [11]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! #MAGA #Trump2020 ðŸ‘ŠðŸ‡º...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [27]:
def split_hashtag(tweet):
    return re.sub(r'#', '', tweet)

In [13]:
df['tweet'] = df['tweet'].apply(split_hashtag)

In [14]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump2020 ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should'veTaken"" this piece of shit to...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice HumanRights and Fre...,NOT,NaN,NaN

In [30]:
# Splitting joined words
def join_words(tweet):
    return re.sub(r"([a-z\.!?])([A-Z])", r"\1 \2", tweet)

In [16]:
df['tweet'] = df['tweet'].apply(join_words)

In [17]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump2020 ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should've Taken"" this piece of shit t...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice Human Rights and Fr...,NOT,NaN,NaN

## Removing Numbers

In [18]:
df['tweet'] = df['tweet'].replace('\d+', '', regex=True)

In [19]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk!!! MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"Someone should've Taken"" this piece of shit t...",OFF,UNT,NaN
4,43605,Obama wanted liberals &amp; illegals to move...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage. We don't give a...,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs. justice Human Rights and Fr...,NOT,NaN,NaN

## Removing Punctuation

In [20]:
df['tweet'] = df['tweet'].str.replace('[{}]'.format(string.punctuation), '')

C:\Users\suhas\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [21]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what th...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to ...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move i...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and ...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

## Removing Whitespaces

In [22]:
df['tweet'] = df['tweet'].str.strip()

In [23]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,She should ask a few native Americans what the...,OFF,UNT,NaN
1,90194,Go home youâ€™re drunk MAGA Trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š URL,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,Someone shouldve Taken this piece of shit to a...,OFF,UNT,NaN
4,43605,Obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,Sometimes I get strong vibes from people and t...,OFF,TIN,IND
13236,67210,Benidorm âœ… Creamfields âœ… Maga âœ… Not too sh...,NOT,NaN,NaN
13237,82921,And why report this garbage We dont give a crap,OFF,TIN,OTH
13238,27429,Pussy,OFF,UNT,NaN
13239,46552,Spanishrevenge vs justice Human Rights and Fre...,NOT,NaN,NaN

## Converting to lowercase

In [24]:
df['tweet'] = df['tweet'].str.lower()

In [25]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,she should ask a few native americans what the...,OFF,UNT,NaN
1,90194,go home youâ€™re drunk maga trump ðŸ‘ŠðŸ‡ºðŸ‡¸ðŸ‘Š url,OFF,TIN,IND
2,16820,amazon is investigating chinese employees who ...,NOT,NaN,NaN
3,62688,someone shouldve taken this piece of shit to a...,OFF,UNT,NaN
4,43605,obama wanted liberals amp illegals to move int...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,sometimes i get strong vibes from people and t...,OFF,TIN,IND
13236,67210,benidorm âœ… creamfields âœ… maga âœ… not too sh...,NOT,NaN,NaN
13237,82921,and why report this garbage we dont give a crap,OFF,TIN,OTH
13238,27429,pussy,OFF,UNT,NaN
13239,46552,spanishrevenge vs justice human rights and fre...,NOT,NaN,NaN

## Removing Stop Words

In [26]:
from nltk.corpus import stopwords  
from nltk.tokenize import TweetTokenizer 
tokenizer = TweetTokenizer(preserve_case=True, strip_handles=True, reduce_len=True)

In [27]:
def token(tweet):
    return tokenizer.tokenize(tweet)

In [28]:
df['tweet'] = df['tweet'].apply(token)

In [29]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[she, should, ask, a, few, native, americans, ...",OFF,UNT,NaN
1,90194,"[go, home, you, â€™, re, drunk, maga, trump, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, is, investigating, chinese, employees...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, this, piece, of, sh...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, to, m...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, i, get, strong, vibes, from, peopl...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, not, to...",NOT,NaN,NaN
13237,82921,"[and, why, report, this, garbage, we, dont, gi...",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, a...",NOT,NaN,NaN

In [30]:
stop_words = set(stopwords.words('english'))

In [31]:
def remove(tweet):
    return [i for i in tweet if i not in stop_words]

In [32]:
df['tweet'] = df['tweet'].apply(remove)

In [33]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, americans, take]",OFF,UNT,NaN
1,90194,"[go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employees, se...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberals, amp, illegals, move,...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibes, people, man, â€™...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, vs, justice, human, rights, f...",NOT,NaN,NaN

## Lemmatising

In [34]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [35]:
def get_wordnet_POS(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(word, wordnet.NOUN)

In [36]:
def lemm(tweet):
    return [lemmatizer.lemmatize(i, get_wordnet_POS(i)) for i in tweet]

In [37]:
df['tweet'] = df['tweet'].apply(lemm)

In [38]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,"[ask, native, american, take]",OFF,UNT,NaN
1,90194,"[go, home, â€™, drunk, maga, trump, ðŸ‘Š, ðŸ‡º, ðŸ‡¸, ðŸ‘Š, ...",OFF,TIN,IND
2,16820,"[amazon, investigating, chinese, employee, sel...",NOT,NaN,NaN
3,62688,"[someone, shouldve, taken, piece, shit, volcan...",OFF,UNT,NaN
4,43605,"[obama, wanted, liberal, amp, illegals, move, ...",NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,"[sometimes, get, strong, vibe, people, man, â€™,...",OFF,TIN,IND
13236,67210,"[benidorm, âœ…, creamfields, âœ…, maga, âœ…, shabby,...",NOT,NaN,NaN
13237,82921,"[report, garbage, dont, give, crap]",OFF,TIN,OTH
13238,27429,[pussy],OFF,UNT,NaN
13239,46552,"[spanishrevenge, v, justice, human, right, fre...",NOT,NaN,NaN

## Saving Processed Training Data

In [39]:
df.to_csv('processed_train.csv')

## Pre-Processing Unlabelled Data

In [9]:
df_unlab = pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\testset-levela.tsv", sep='\t')

In [10]:
df_unlab

        id                                              tweet
0    15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1    27014  #ConstitutionDay is revered by Conservatives, ...
2    30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3    13876  #Watching #Boomer getting the news that she is...
4    60133  #NoPasaran: Unity demo to oppose the far-right...
..     ...                                                ...
855  73439  #DespicableDems lie again about rifles. Dem Di...
856  25657  #MeetTheSpeakers ðŸ™Œ @USER will present in our e...
857  67018  3 people just unfollowed me for talking about ...
858  50665  #WednesdayWisdom Antifa calls the right fascis...
859  24583      #Kavanaugh typical #liberals , #Democrats URL

[860 rows x 2 columns]

In [11]:
df_unlab = df_unlab.append(pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\testset-levelb.tsv", sep='\t'))

In [12]:
df_unlab

        id                                              tweet
0    15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1    27014  #ConstitutionDay is revered by Conservatives, ...
2    30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3    13876  #Watching #Boomer getting the news that she is...
4    60133  #NoPasaran: Unity demo to oppose the far-right...
..     ...                                                ...
235  22569  #Antifa are mentally unstable cowards, pretend...
236  48938  @USER @USER And Browning looked like dog shit ...
237  41438                All two of them taste like ass. URL
238  73439  #DespicableDems lie again about rifles. Dem Di...
239  67018  3 people just unfollowed me for talking about ...

[1100 rows x 2 columns]

In [13]:
df_unlab = df_unlab.append(pd.read_csv(r"C:\Users\suhas\Documents\College Projects\SSL-Offensive-Lang-Detection-Social-Media\testset-levelc.tsv", sep='\t'))

In [14]:
df_unlab

        id                                              tweet
0    15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1    27014  #ConstitutionDay is revered by Conservatives, ...
2    30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3    13876  #Watching #Boomer getting the news that she is...
4    60133  #NoPasaran: Unity demo to oppose the far-right...
..     ...                                                ...
208  30778  #StopEtchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florez...
209  22569  #Antifa are mentally unstable cowards, pretend...
210  48938  @USER @USER And Browning looked like dog shit ...
211  41438                All two of them taste like ass. URL
212  73439  #DespicableDems lie again about rifles. Dem Di...

[1313 rows x 2 columns]

In [15]:
df_unlab = df_unlab.reset_index().drop(['index'], axis=1)

In [16]:
df_unlab

         id                                              tweet
0     15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1     27014  #ConstitutionDay is revered by Conservatives, ...
2     30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3     13876  #Watching #Boomer getting the news that she is...
4     60133  #NoPasaran: Unity demo to oppose the far-right...
...     ...                                                ...
1308  30778  #StopEtchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florez...
1309  22569  #Antifa are mentally unstable cowards, pretend...
1310  48938  @USER @USER And Browning looked like dog shit ...
1311  41438                All two of them taste like ass. URL
1312  73439  #DespicableDems lie again about rifles. Dem Di...

[1313 rows x 2 columns]

## Twitter Pre-Processing

In [18]:
df_unlab['tweet'] = df_unlab['tweet'].str.replace('@USER','')

In [19]:
df_unlab

         id                                              tweet
0     15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1     27014  #ConstitutionDay is revered by Conservatives, ...
2     30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3     13876  #Watching #Boomer getting the news that she is...
4     60133  #NoPasaran: Unity demo to oppose the far-right...
...     ...                                                ...
1308  30778  #StopEtchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florez...
1309  22569  #Antifa are mentally unstable cowards, pretend...
1310  48938    And Browning looked like dog shit against th...
1311  41438                All two of them taste like ass. URL
1312  73439  #DespicableDems lie again about rifles. Dem Di...

[1313 rows x 2 columns]

In [22]:
df_unlab['tweet'] = df_unlab['tweet'].apply(hyperlink)

In [23]:
df_unlab

         id                                              tweet
0     15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1     27014  #ConstitutionDay is revered by Conservatives, ...
2     30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3     13876  #Watching #Boomer getting the news that she is...
4     60133  #NoPasaran: Unity demo to oppose the far-right...
...     ...                                                ...
1308  30778  #StopEtchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florez...
1309  22569  #Antifa are mentally unstable cowards, pretend...
1310  48938    And Browning looked like dog shit against th...
1311  41438                All two of them taste like ass. URL
1312  73439  #DespicableDems lie again about rifles. Dem Di...

[1313 rows x 2 columns]

In [25]:
df_unlab['tweet']= df_unlab['tweet'].apply(retweets)

In [26]:
df_unlab

         id                                              tweet
0     15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1     27014  #ConstitutionDay is revered by Conservatives, ...
2     30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3     13876  #Watching #Boomer getting the news that she is...
4     60133  #NoPasaran: Unity demo to oppose the far-right...
...     ...                                                ...
1308  30778  #StopEtchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florez...
1309  22569  #Antifa are mentally unstable cowards, pretend...
1310  48938    And Browning looked like dog shit against th...
1311  41438                All two of them taste like ass. URL
1312  73439  #DespicableDems lie again about rifles. Dem Di...

[1313 rows x 2 columns]

In [28]:
df_unlab['tweet'] = df_unlab['tweet'].apply(split_hashtag)

In [29]:
df_unlab

         id                                              tweet
0     15923  WhoIsQ WheresTheServer DumpNike DECLASFISA Dem...
1     27014  ConstitutionDay is revered by Conservatives, h...
2     30530  FOXNews NRA MAGA POTUS TRUMP 2ndAmendment RNC ...
3     13876  Watching Boomer getting the news that she is s...
4     60133  NoPasaran: Unity demo to oppose the far-right ...
...     ...                                                ...
1308  30778  StopEtchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florezc...
1309  22569  Antifa are mentally unstable cowards, pretendi...
1310  48938    And Browning looked like dog shit against th...
1311  41438                All two of them taste like ass. URL
1312  73439  DespicableDems lie again about rifles. Dem Dis...

[1313 rows x 2 columns]

In [31]:
df_unlab['tweet'] = df_unlab['tweet'].apply(join_words)

In [32]:
df_unlab

         id                                              tweet
0     15923  Who Is Q Wheres The Server Dump Nike DECLASFIS...
1     27014  Constitution Day is revered by Conservatives, ...
2     30530  FOXNews NRA MAGA POTUS TRUMP 2nd Amendment RNC...
3     13876  Watching Boomer getting the news that she is s...
4     60133  No Pasaran: Unity demo to oppose the far-right...
...     ...                                                ...
1308  30778  Stop Etchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florez...
1309  22569  Antifa are mentally unstable cowards, pretendi...
1310  48938    And Browning looked like dog shit against th...
1311  41438                All two of them taste like ass. URL
1312  73439  Despicable Dems lie again about rifles. Dem Di...

[1313 rows x 2 columns]

## RemovingNumbers

In [33]:
df_unlab['tweet'] = df_unlab['tweet'].replace('\d+', '', regex=True)

In [34]:
df_unlab

         id                                              tweet
0     15923  Who Is Q Wheres The Server Dump Nike DECLASFIS...
1     27014  Constitution Day is revered by Conservatives, ...
2     30530  FOXNews NRA MAGA POTUS TRUMP nd Amendment RNC ...
3     13876  Watching Boomer getting the news that she is s...
4     60133  No Pasaran: Unity demo to oppose the far-right...
...     ...                                                ...
1308  30778  Stop Etchecopar? Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florez...
1309  22569  Antifa are mentally unstable cowards, pretendi...
1310  48938    And Browning looked like dog shit against th...
1311  41438                All two of them taste like ass. URL
1312  73439  Despicable Dems lie again about rifles. Dem Di...

[1313 rows x 2 columns]

## Removing Punctuation

In [35]:
df_unlab['tweet'] = df_unlab['tweet'].str.replace('[{}]'.format(string.punctuation), '')

<ipython-input-35-91cd49cefc87>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_unlab['tweet'] = df_unlab['tweet'].str.replace('[{}]'.format(string.punctuation), '')

In [36]:
df_unlab

         id                                              tweet
0     15923  Who Is Q Wheres The Server Dump Nike DECLASFIS...
1     27014  Constitution Day is revered by Conservatives h...
2     30530  FOXNews NRA MAGA POTUS TRUMP nd Amendment RNC ...
3     13876  Watching Boomer getting the news that she is s...
4     60133  No Pasaran Unity demo to oppose the farright i...
...     ...                                                ...
1308  30778  Stop Etchecopar Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florezc...
1309  22569  Antifa are mentally unstable cowards pretendin...
1310  48938    And Browning looked like dog shit against th...
1311  41438                 All two of them taste like ass URL
1312  73439  Despicable Dems lie again about rifles Dem Dis...

[1313 rows x 2 columns]

## Removing Whitespace

In [37]:
df_unlab['tweet'] = df_unlab['tweet'].str.strip()

In [38]:
df_unlab

         id                                              tweet
0     15923  Who Is Q Wheres The Server Dump Nike DECLASFIS...
1     27014  Constitution Day is revered by Conservatives h...
2     30530  FOXNews NRA MAGA POTUS TRUMP nd Amendment RNC ...
3     13876  Watching Boomer getting the news that she is s...
4     60133  No Pasaran Unity demo to oppose the farright i...
...     ...                                                ...
1308  30778  Stop Etchecopar Fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• Que florezc...
1309  22569  Antifa are mentally unstable cowards pretendin...
1310  48938  And Browning looked like dog shit against the ...
1311  41438                 All two of them taste like ass URL
1312  73439  Despicable Dems lie again about rifles Dem Dis...

[1313 rows x 2 columns]

## Converting to lowercase

In [39]:
df_unlab['tweet'] = df_unlab['tweet'].str.lower()

In [40]:
df_unlab

         id                                              tweet
0     15923  who is q wheres the server dump nike declasfis...
1     27014  constitution day is revered by conservatives h...
2     30530  foxnews nra maga potus trump nd amendment rnc ...
3     13876  watching boomer getting the news that she is s...
4     60133  no pasaran unity demo to oppose the farright i...
...     ...                                                ...
1308  30778  stop etchecopar fuck you all ðŸ–•ðŸ–•ðŸ–•ðŸ–•ðŸ–• que florezc...
1309  22569  antifa are mentally unstable cowards pretendin...
1310  48938  and browning looked like dog shit against the ...
1311  41438                 all two of them taste like ass url
1312  73439  despicable dems lie again about rifles dem dis...

[1313 rows x 2 columns]

## Removing Stop Words

In [41]:
from nltk.corpus import stopwords  
from nltk.tokenize import TweetTokenizer 
tokenizer = TweetTokenizer(preserve_case=True, strip_handles=True, reduce_len=True)

In [42]:
def token(tweet):
    return tokenizer.tokenize(tweet)

In [43]:
df_unlab['tweet'] = df_unlab['tweet'].apply(token)

In [44]:
df_unlab

         id                                              tweet
0     15923  [who, is, q, wheres, the, server, dump, nike, ...
1     27014  [constitution, day, is, revered, by, conservat...
2     30530  [foxnews, nra, maga, potus, trump, nd, amendme...
3     13876  [watching, boomer, getting, the, news, that, s...
4     60133  [no, pasaran, unity, demo, to, oppose, the, fa...
...     ...                                                ...
1308  30778  [stop, etchecopar, fuck, you, all, ðŸ–•, ðŸ–•, ðŸ–•, qu...
1309  22569  [antifa, are, mentally, unstable, cowards, pre...
1310  48938  [and, browning, looked, like, dog, shit, again...
1311  41438        [all, two, of, them, taste, like, ass, url]
1312  73439  [despicable, dems, lie, again, about, rifles, ...

[1313 rows x 2 columns]

In [48]:
stop_words = set(stopwords.words('english'))

In [49]:
def remove(tweet):
    return [i for i in tweet if i not in stop_words]

In [50]:
df_unlab['tweet'] = df_unlab['tweet'].apply(remove)

In [51]:
df_unlab

         id                                              tweet
0     15923  [q, wheres, server, dump, nike, declasfisa, de...
1     27014  [constitution, day, revered, conservatives, ha...
2     30530  [foxnews, nra, maga, potus, trump, nd, amendme...
3     13876  [watching, boomer, getting, news, still, parol...
4     60133  [pasaran, unity, demo, oppose, farright, londo...
...     ...                                                ...
1308  30778  [stop, etchecopar, fuck, ðŸ–•, ðŸ–•, ðŸ–•, que, florezc...
1309  22569  [antifa, mentally, unstable, cowards, pretendi...
1310  48938  [browning, looked, like, dog, shit, fcs, schoo...
1311  41438                       [two, taste, like, ass, url]
1312  73439  [despicable, dems, lie, rifles, dem, distorted...

[1313 rows x 2 columns]

## Lemmatising

In [52]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [53]:
def get_wordnet_POS(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(word, wordnet.NOUN)

In [54]:
def lemm(tweet):
    return [lemmatizer.lemmatize(i, get_wordnet_POS(i)) for i in tweet]

In [55]:
df_unlab

         id                                              tweet
0     15923  [q, wheres, server, dump, nike, declasfisa, de...
1     27014  [constitution, day, revered, conservatives, ha...
2     30530  [foxnews, nra, maga, potus, trump, nd, amendme...
3     13876  [watching, boomer, getting, news, still, parol...
4     60133  [pasaran, unity, demo, oppose, farright, londo...
...     ...                                                ...
1308  30778  [stop, etchecopar, fuck, ðŸ–•, ðŸ–•, ðŸ–•, que, florezc...
1309  22569  [antifa, mentally, unstable, cowards, pretendi...
1310  48938  [browning, looked, like, dog, shit, fcs, schoo...
1311  41438                       [two, taste, like, ass, url]
1312  73439  [despicable, dems, lie, rifles, dem, distorted...

[1313 rows x 2 columns]

In [56]:
df_unlab.to_csv('processed_unlab.csv')