# Tf-Idf Model



Calculates the term frequency or the number of occurences of a word in a document, and the idf of a word which is the Log(Number of Documents/Number of documents the word appears in. On multiplying the two, one gets Tf-Idf. Tf-Idf is similar to how relevant a word is to a documents class as it calculates the number of times in occurs in a particular document and the number of documents it occurs in as well.

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV, learning_curve
import numpy as np
from sklearn.linear_model import LogisticRegression

## Importing Data

In [7]:
df = pd.read_csv("processed_train.csv")

In [8]:
df

,Unnamed: 0,id,tweet,subtask_a,subtask_b,subtask_c
0,0,86426,"['ask', 'native', 'american', 'take']",OFF,UNT,NaN
1,1,90194,"['go', 'home', 'â€™', 'drunk', 'maga', 'trump', ...",OFF,TIN,IND
2,2,16820,"['amazon', 'investigating', 'chinese', 'employ...",NOT,NaN,NaN
3,3,62688,"['someone', 'shouldve', 'taken', 'piece', 'shi...",OFF,UNT,NaN
4,4,43605,"['obama', 'wanted', 'liberal', 'amp', 'illegal...",NOT,NaN,NaN
...,...,...,...,...,...,...
13235,13235,95338,"['sometimes', 'get', 'strong', 'vibe', 'people...",OFF,TIN,IND
13236,13236,67210,"['benidorm', 'âœ…', 'creamfields', 'âœ…', 'maga', ...",NOT,NaN,NaN
13237,13237,82921,"['report', 'garbage', 'dont', 'give', 'crap']",OFF,TIN,OTH
13238,13238,27429,['pussy'],OFF,UNT,NaN
13239,13239,46552,"['spanishrevenge', 'v', 'justice', 'human', 'r...",NOT,NaN,NaN

## Removing Redundant Axes

In [10]:
df = df.drop(['Unnamed: 0', 'subtask_b', 'subtask_c', 'id'], axis=1)

In [11]:
df

                                                   tweet subtask_a
0                  ['ask', 'native', 'american', 'take']       OFF
1      ['go', 'home', 'â€™', 'drunk', 'maga', 'trump', ...       OFF
2      ['amazon', 'investigating', 'chinese', 'employ...       NOT
3      ['someone', 'shouldve', 'taken', 'piece', 'shi...       OFF
4      ['obama', 'wanted', 'liberal', 'amp', 'illegal...       NOT
...                                                  ...       ...
13235  ['sometimes', 'get', 'strong', 'vibe', 'people...       OFF
13236  ['benidorm', 'âœ…', 'creamfields', 'âœ…', 'maga', ...       NOT
13237      ['report', 'garbage', 'dont', 'give', 'crap']       OFF
13238                                          ['pussy']       OFF
13239  ['spanishrevenge', 'v', 'justice', 'human', 'r...       NOT

[13240 rows x 2 columns]

## Renaming Columns

In [12]:
df = df.rename(columns={'subtask_a': 'Offensive'})

In [13]:
df

                                                   tweet Offensive
0                  ['ask', 'native', 'american', 'take']       OFF
1      ['go', 'home', 'â€™', 'drunk', 'maga', 'trump', ...       OFF
2      ['amazon', 'investigating', 'chinese', 'employ...       NOT
3      ['someone', 'shouldve', 'taken', 'piece', 'shi...       OFF
4      ['obama', 'wanted', 'liberal', 'amp', 'illegal...       NOT
...                                                  ...       ...
13235  ['sometimes', 'get', 'strong', 'vibe', 'people...       OFF
13236  ['benidorm', 'âœ…', 'creamfields', 'âœ…', 'maga', ...       NOT
13237      ['report', 'garbage', 'dont', 'give', 'crap']       OFF
13238                                          ['pussy']       OFF
13239  ['spanishrevenge', 'v', 'justice', 'human', 'r...       NOT

[13240 rows x 2 columns]

## Converting Offensive to Numerical Value

In [14]:
def off(cls):
    if cls =='OFF':
        return 1
    return 0

In [15]:
df['Offensive'] = df['Offensive'].apply(off)

In [16]:
df

                                                   tweet  Offensive
0                  ['ask', 'native', 'american', 'take']          1
1      ['go', 'home', 'â€™', 'drunk', 'maga', 'trump', ...          1
2      ['amazon', 'investigating', 'chinese', 'employ...          0
3      ['someone', 'shouldve', 'taken', 'piece', 'shi...          1
4      ['obama', 'wanted', 'liberal', 'amp', 'illegal...          0
...                                                  ...        ...
13235  ['sometimes', 'get', 'strong', 'vibe', 'people...          1
13236  ['benidorm', 'âœ…', 'creamfields', 'âœ…', 'maga', ...          0
13237      ['report', 'garbage', 'dont', 'give', 'crap']          1
13238                                          ['pussy']          1
13239  ['spanishrevenge', 'v', 'justice', 'human', 'r...          0

[13240 rows x 2 columns]

In [17]:
df['tweet']

0                    ['ask', 'native', 'american', 'take']
1        ['go', 'home', 'â€™', 'drunk', 'maga', 'trump', ...
2        ['amazon', 'investigating', 'chinese', 'employ...
3        ['someone', 'shouldve', 'taken', 'piece', 'shi...
4        ['obama', 'wanted', 'liberal', 'amp', 'illegal...
                               ...
13235    ['sometimes', 'get', 'strong', 'vibe', 'people...
13236    ['benidorm', 'âœ…', 'creamfields', 'âœ…', 'maga', ...
13237        ['report', 'garbage', 'dont', 'give', 'crap']
13238                                            ['pussy']
13239    ['spanishrevenge', 'v', 'justice', 'human', 'r...
Name: tweet, Length: 13240, dtype: object

## Train Test Split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(df['tweet'], df['Offensive'], stratify=df['Offensive'], shuffle=0)

In [20]:
X_train

3532     ['bro', 'twinsie', 'resemblance', 'brother', '...
440      ['believe', 'correct', 'chico', 'wise', 'chihu...
11656    ['agree', 'amp', 'please', 'go', 'work', 'that...
3905     ['doubt', 'greatest', 'female', 'athlete', 'so...
6843     ['sure', 'lot', 'folk', 'arent', 'actually', '...
                               ...
7947     ['outrage', 'something', 'credible', 'instead'...
8099     ['name', 'one', 'democratic', 'leader', 'endor...
2387                              ['lmfaoo', 'ðŸ˜­', 'bitch']
1675     ['â€™', 'remember', 'clothes', 'clothes', 'house...
10394    ['thank', 'america', 'respected', 'maga', 'kag...
Name: tweet, Length: 9930, dtype: object

In [21]:
y_train

3532     0
440      0
11656    0
3905     1
6843     0
        ..
7947     1
8099     0
2387     1
1675     1
10394    0
Name: Offensive, Length: 9930, dtype: int64

## Tf-Idf Model